<div class="form-group">
    <div class="col-md-4">
        <select class="form-control" ng-model="param.qa1" ng-options="opt.id as opt.name for opt in list.qa1">
            <option value="">一级分类</option>
        </select>
    </div>
    <div class="col-md-4">
        <select class="form-control" ng-model="param.qa2" ng-options="opt.id as opt.name for opt in list.qa2">
            <option value="">二级分类</option>
        </select>
    </div>
    <div class="col-md-4">
        <select class="form-control" ng-model="param.qa3" ng-options="opt.id as opt.name for opt in list.qa3">
            <option value="">三级分类</option>
        </select>
    </div>
</div>