<div class="modal-header">
    <h3 class="modal-title">{{modalData.type.name}}</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-3 control-label">新号码：</label>
        <div class="col-sm-7">
          <input type="text" class="form-control" ng-model="mobile" placeholder="请输入变更号码">
        </div>
      </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-disabled="isDisabled || !mobile" ng-click="ok()">确认修改</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
</div>