<div ng-controller="TimespanMonitorController">
<!-- 搜索头 -->
<ul class="top-search-bar-part">
	<li>
		<datepicker-input></datepicker-input>
	</li>
	<li>
	    <select class="form-control" ng-model="data.type" ng-options="user.id as user.name for user in userType">
	    </select>
	</li>
	<li>
	  	<button type="button" ng-click="getData(1)" class="btn btn-default">查询</button>
	  	<!-- <button type="button" ng-click="search()" class="btn btn-default">导出</button> -->
	</li>
</ul>
<!-- 搜索头 -->
<!-- 表格内容 -->
<div>
<table class="table table-hover">
<thead>
	<tr class="btn-primary">
		<th>时段</th>
		<th>升级量</th>
		<th>结案量</th>
		<th>升级量占比</th>
		<th>结案量占比</th>
	</tr>
</thead>
<tbody>
	<tr ng-repeat="var in data.page.list">
		<td>{{var.date | block}}&nbsp;&nbsp;{{var.hour}}:00:00</td>
		<td>{{var.upgradeCount}}</td>
		<td>{{var.finishCount}}</td>
		<td>{{var.proportionOfUpgrade}}</td>
		<td>{{var.proportionOfFinish}}</td>
	</tr>
</tbody>
</table>
<p ng-if="!data.page.list.length" class="bg-warning">
    暂无搜索结果
</p>
</div>
<!-- 表格内容 -->
<uib-pagination items-per-page="data.page.pageSize" total-items="data.page.count" max-size="10" ng-model="data.page.start" ng-change="getData(data.page.start)"></uib-pagination>
</div>